<!-- <p>ventas-totales works!</p>
<div class="widget">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
      style="width: 100%; height: 600px; display: block;"></highcharts-chart>
  </div> -->
<div style="text-align: center;">
    <table class="table table-hover table-success table-striped" style="min-height: 30vh">
        <thead>
            <tr class="">
                <th sortable="nombre" (sort)="onSort($event)">Nombre</th>
                <th sortable="fecha" (sort)="onSort($event)">Fecha</th>
                <th>Productos</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th sortable="totalNeto" (sort)="onSort($event)">$ Total de venta</th>
                <!-- <th>Total</th> -->
                <!-- <th>Operaciones</th> -->
            </tr>
        </thead>
        <tbody>
            <tr class="table align-middle" *ngFor="let item of ventasCollection | paginate: config">
                <!-- <td>{{ item.cliente.id_cliente }} </td> -->
                <td>{{ item.cliente.nombre }} {{ item.cliente.apellido_p }} {{ item.cliente.apellido_m }}</td>
                <td>{{ item.fecha.seconds*1000 | date: 'medium' }}</td>
                <td>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let i of item.productos">{{i.producto.nombre}} </li>
                    </ul>
                </td>
                <td>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let i of item.productos">${{i.producto.precio|number}} </li>
                    </ul>
                </td>
                <td>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let i of item.productos">{{i.cantidad}} Pzs</li>
                    </ul>
                </td>
                <td>${{ item.totalNeto | number }}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>